<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Selected Products</title>
</head>
<body>
  <h1>Selected Products:</h1>
  <ul>
    {% for product in selected_products %}
      <li>{{ product }}</li>
    {% endfor %}
  </ul>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Comparison</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-gray-800 font-inter bg-cover bg-center items-center" style="background-image: url('{{ url_for('static', filename='images/grassSolar.jpg') }}')">
    {% include 'header.html' %}

    <main class="w-full md:w-[calc(100%-256px)] md:mt-24 bg-gray-200 min-h-screen transition-all main">
        
        <div class="">
            <div class="container mx-auto px-4 py-8">
                <h1 class="text-2xl font-semibold mb-4">Product Comparison</h1>

                <div class="grid grid-cols-2 gap-4">
                    {% for product in selected_products %}
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-xl font-semibold mb-4" style="display: inline;">{{product.name}}</h2>
<img class="w-15 h-10" src="https://www.worldometers.info/img/flags/{{ product.name[:2].lower() }}-flag.gif" alt="Flag" style="display: inline;">

                        <!-- <h2 class="text-xl font-semibold mb-4">{{product.name}}</h2>
                        <img class="w-15 h-10" src="https://www.worldometers.info/img/flags/{{ product.name[:2].lower() }}-flag.gif" alt="Flag"> -->
                        <table class="w-full">
                            <tr>
                                <td class="font-semibold">Name:</td>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Description:</td>
                                <td>{{ product.description }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Price:</td>
                                <td>${{ product.price }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Country:</td>
                                <td>{{ product.country }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Population:</td>
                                <td>{{ product.population }} M</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Impact:</td>
                                <td>{{ product.impact }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Energy Production:</td>
                                <td>{{ product.energy_production }} kWh/day</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Time to Recover Expense:</td>
                                <td>{{ product.time_to_recover_expense }} days</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Carbon Offset per Year:</td>
                                <td>{{ product.carbon_offset_per_year }} tons</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Electricity Grid Network (km):</td>
                                <td>{{ product.electricity_grid_network_km }} km</td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </main>
</body>
<script src=" https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>

</html>